/* Header.css */
/* .nav-link {
  
  width: 40%;
}

.nav-link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.nav-link li{
  margin-right: 40px;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
} */

/* .nav-link li:hover{
  transform: scale(1.2);
  transition: calc(0.5s);
}
.nav-link2 li:hover{
  transform: scale(1.5);
  transition: calc(0.5s);

}
.link-head{
  text-decoration: none; 
  color: black;
} */

/* .header1 {
  display: flex;
}

.header2 {
  width: 30%;
}

.nav-link2 {
  list-style-type: none;
  display: flex;
} */

/* .nav-link2 li {
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
} */

/* .image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
} */

/* .image1 {
  width: 100%;
  height: auto;
}

.p1 {
  font-size: 30px;
} */

